<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="it.collideorscopeapps.codename_hippopotamos"
    android:installLocation="preferExternal">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".CreditsActivity" />
        <activity android:name=".PlaylistsActivity" />
        <activity android:name=".QuotePagerActivity">
            <intent-filter>
                <action android:name="it.collideorscopeapps.codename_hippopotamos.DEMO" />
                <action android:name="it.collideorscopeapps.codename_hippopotamos.PLAY" />
            </intent-filter>
        </activity>
        <activity android:name=".QuoteActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>